{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="site-header-content small">
</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="post-card-subscription-cta-block">
            <div class="post-card-subscription-cta-text">
                <p>
                    RoadRUNNER is an independently owned and published motorcycle touring and travel magazine. On our website, you will find exciting travel stories, reviews, news, and other resources for planning your next motorcycle tour. We offer a wide variety of free content, but only our active web subscribers get access to the entire 650+ tour database, complete with maps and GPS route files. Web subscribers also enjoy exclusive web-only stories.
                </p>
                <p>
                    Click <em>Tours</em> in the top menu and start planning your next motorcycle adventure.
                </p>
            </div>
        </div>

        <div class="post-feed {{#match @custom.feed_layout "List"}} list{{/match}}">
            {{#get "posts" filter="tags:hash-tour-article+tags:-city-escape" order="published_at desc" limit="7" include="tags,authors"}}
              {{#foreach posts}}

                  {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                  {{> "post-card" hero_post=true}}

              {{/foreach}}
            {{/get}}
        </div>

        <hr/>

        <h2 class="post-category-title">
            <a href="/motorcycles/" class="post-category-title">Motorcycles</a>
        </h2>
        <div class="post-feed {{#match @custom.feed_layout "List"}} list{{/match}}">
            {{#get "posts" filter="tags:hash-motorcycle-review" order="published_at desc" limit="3" include="tags,authors"}}
              {{#foreach posts}}

                  {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                  {{> "post-card"}}

              {{/foreach}}
            {{/get}}
        </div>

        <hr/>

        <h2 class="post-category-title">
            <a href="/tag/destinations" class="post-category-title">Destinations</a>
        </h2>
        <div class="post-feed {{#match @custom.feed_layout "List"}} list{{/match}}">
            {{#get "posts" filter="tags:destinations" order="published_at desc" limit="3" include="tags,authors"}}
              {{#foreach posts}}
                  {{> "post-card"}}
              {{/foreach}}
            {{/get}}
        </div>

        <hr/>

        <h2 class="post-category-title">
            <a href="/tag/shamrock-tour/" class="post-category-title">Shamrock Tours</a>
        </h2>
        <div class="post-feed {{#match @custom.feed_layout "List"}} list{{/match}}">
            {{#get "posts" filter="tags:shamrock-tour" order="published_at desc" limit="3" include="tags,authors"}}
              {{#foreach posts}}
                  {{> "post-card"}}
              {{/foreach}}
            {{/get}}
        </div>

        <hr/>

        <h2 class="post-category-title">
            <a href="/tag/roundtrip-tour" class="post-category-title">Roundtrip Tours</a>
        </h2>
        <div class="post-feed {{#match @custom.feed_layout "List"}} list{{/match}}">
            {{#get "posts" filter="tags:roundtrip-tour" order="published_at desc" limit="3" include="tags,authors"}}
              {{#foreach posts}}
                  {{> "post-card"}}
              {{/foreach}}
            {{/get}}
        </div>

        <hr/>

        <h2 class="post-category-title">
            <a href="/tag/travel-guide" class="post-category-title">Travel Guides</a>
        </h2>
        <div class="post-feed {{#match @custom.feed_layout "List"}} list{{/match}}">
            {{#get "posts" filter="tags:travel-guide" order="published_at desc" limit="3" include="tags,authors"}}
              {{#foreach posts}}
                  {{> "post-card"}}
              {{/foreach}}
            {{/get}}
        </div>

        <hr/>

        <h2 class="post-category-title">
            <a href="#" class="post-category-title">Classic Roads</a>
        </h2>
        <div class="post-feed {{#match @custom.feed_layout "List"}} list{{/match}}">
            {{#get "posts" filter="tags:hash-tour-article+tags:-city-escape" order="published_at desc" limit="3" include="tags,authors"}}
              {{#foreach posts}}
                  {{> "post-card"}}
              {{/foreach}}
            {{/get}}
        </div>

        <hr/>

        <h2 class="post-category-title">
            <a href="/tag/city-escape/" class="post-category-title">City Escapes</a>
        </h2>
        <div class="post-feed {{#match @custom.feed_layout "List"}} list{{/match}}">
            {{#get "posts" filter="tags:city-escape" order="published_at desc" limit="3" include="tags,authors"}}
              {{#foreach posts}}
                  {{> "post-card"}}
              {{/foreach}}
            {{/get}}
        </div>

        <hr/>

        <h2 class="post-category-title">
            <a href="/tag/accommodations" class="post-category-title">Accommodations</a>
        </h2>
        <div class="post-feed {{#match @custom.feed_layout "List"}} list{{/match}}">
            {{#get "posts" filter="tags:accommodations" order="published_at desc" limit="3" include="tags,authors"}}
              {{#foreach posts}}
                  {{> "post-card"}}
              {{/foreach}}
            {{/get}}
        </div>

        <hr/>

        <h2 class="post-category-title">
            <a href="/articles/" class="post-category-title">News</a>
        </h2>
        <div class="post-feed {{#match @custom.feed_layout "List"}} list{{/match}}">
            {{#get "posts" filter="tags:news" order="published_at desc" limit="3" include="tags,authors"}}
              {{#foreach posts}}
                  {{> "post-card"}}
              {{/foreach}}
            {{/get}}
        </div>

        <hr/>

        <h2 class="post-category-title">
            <a href="/tag/product-review/" class="post-category-title">Products</a>
        </h2>
        <div class="post-feed {{#match @custom.feed_layout "List"}} list{{/match}}">
            {{#get "posts" filter="tags:hash-product" order="published_at desc" limit="3" include="tags,authors"}}
              {{#foreach posts}}
                  {{> "post-card"}}
              {{/foreach}}
            {{/get}}
        </div>

        <hr/>

        <h2 class="post-category-title">
            <a href="/tag/columns" class="post-category-title">Columns</a>
        </h2>
        <div class="post-feed {{#match @custom.feed_layout "List"}} list{{/match}}">
            {{#get "posts" filter="tags:columns" order="published_at desc" limit="3" include="tags,authors"}}
              {{#foreach posts}}
                  {{> "post-card"}}
              {{/foreach}}
            {{/get}}
        </div>

    </div>
</main>
